.button {
  width: 120px;
  font-size: 18px;
  background-color: #03a9f4;
  color: #ffffff;
  border: none;
  box-sizing: border-box;
  padding: 6px 12px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  &:hover {
    background-color: #2196f3;
  }
}
